<form class="flexcol" autocomplete="off">
    <section>
        <header>
            <h1>{{title}}</h1>
            <div style="display: flex; align-items: center;">
                <input type="text" class="search-input" />
                <button type="button" class="search-button" style="width: 25px; background: none; border: none;">
                    <i class="fa fa-search"></i>
                </button>
            </div>
            <div style="display: flex; align-items: center;">
                <input type="text" class="replace-input" />
                <button type="button" class="replace-button" style="width: 25px; background: none; border: none;">
                    <i class="fa fa-exchange"></i>
                </button>
            </div>
            <input type="checkbox" id="toggle-invalid" {{#if showInvalidOnly}}checked{{/if}} />
            <span>
                {{localize "asset_auditor.asset-filepaths-app.invalidOnly"}}
            </span>
        </header>
    </section>

    <section>
        <div>
            {{#each assets as |group|}}
            <h2>{{group.type}}</h2>
            {{#each group.assets as |asset|}}
            <div style="display: flex; align-items: center; {{#unless asset.isValid}}color: red;{{/unless}}">
                <i class="fa fa-{{asset.icon}}" style="width: 25px;"></i>
                <span style="width: 150px;">{{asset.name}}</span>
                <input type="text" value="{{asset.path}}" data-original-value="{{asset.path}}" class="path-input"
                    style="width: 750px;" />
                <button type="button" class="browse-button" data-asset-id="{{asset.id}}"
                    style="width: 25px; background: none; border: none;">
                    <i class="fa fa-folder-open"></i>
                </button>
                <button type="button" class="update-button" data-asset-id="{{asset.id}}"
                    style="width: 25px; background: none; border: none; opacity: 0;">
                    <i class="fa fa-save"></i>
                </button>
            </div>
            {{#unless asset.isValid}}
            <div style="margin-bottom: 10px;">
                <span style="width: 165px; text-align: right; display: inline-block; margin-right: 10px;">{{localize
                    "asset_auditor.asset-filepaths-app.lastValidPath"}}</span>
                <span style="width: 750px; text-align: left; display: inline-block;">{{asset.lastValidPath}}</span>
            </div>
            {{/unless}}
            {{/each}}
            {{/each}}
        </div>
    </section>

</form>