<form class="flexcol" autocomplete="off">
    <section>
        <header>
            <h1>{{title}}</h1>
            <label>
                <input type="checkbox" id="toggle-invalid" {{#if showInvalidOnly}}checked{{/if}} />
                {{localize "asset_auditor.asset-filepaths-app.invalidOnly"}}
            </label>
        </header>
    </section>

    <section>
        <div>
            {{#each assets as |group|}}
                <h2>{{group.type}}</h2>
                {{#each group.assets as |asset|}}
                <div style="{{#unless asset.isValid}}color: red;{{/unless}}">
                    <i class="fa fa-{{asset.icon}}"></i>
                    <span>{{asset.name}}</span>
                    <input type="text" value="{{asset.path}}" class="path-input" />
                    <button type="button" class="update-button" data-asset-id="{{asset.id}}">Update</button>
                </div>
                {{/each}}
            {{/each}}
        </div>
    </section>
</form>