<form class="flexcol" autocomplete="off">
    <section>
        <header>
            <h1>{{title}}</h1>
            <label>
                <input type="checkbox" id="toggle-invalid" {{#if showInvalidOnly}}checked{{/if}} />
                {{localize "asset_auditor.asset-filepaths-app.invalidOnly"}}
            </label>
        </header>
    </section>

<section>
    <div>
        {{#each assets as |group|}}
            <h2>{{group.type}}</h2>
            {{#each group.assets as |asset|}}
            <div style="display: flex; align-items: center; {{#unless asset.isValid}}color: red;{{/unless}}">
                <i class="fa fa-{{asset.icon}}" style="margin-right: 8px;"></i>
                <span style="flex-grow: 1;">{{asset.name}}</span>
                <div style="display: flex; align-items: center; gap: 8px;">
                    <input type="text" value="{{asset.path}}" class="path-input" style="flex-grow: 1;"/>
                    <button type="button" class="update-button" data-asset-id="{{asset.id}}" 
                            style="background: none; border: none; padding: 4px;">
                        <i class="fa fa-sync"></i>
                    </button>
                </div>
            </div>
            {{/each}}
        {{/each}}
    </div>
</section>

</form>